.form-signup {
	max-width: 500px;
	margin: 0px auto;
}
.form-signup input[name="mail"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signup input[name="firstName"] {
	margin-bottom: -1px;
	border-radius: 0px;
}
.form-signup input[name="lastName"] {
	margin-bottom: -1px;
	border-radius: 0px;
}
.form-signup input[name="password"] {
	margin-bottom: -1px;
	border-radius: 0px;
}
.form-signup input[name="rePassword"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}